.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.article {
	display: flex;
	align-items: center;
	gap: 1rem;
	max-width: 1000px;
	width: 100%;
}

.card {
	border-radius: 5px;
	flex-direction: column;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.user-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 150px;
	border: 2px solid var(--primary-color);
}

.bio {
	text-align: center;
	font-size: 14px;
	max-width: 300px;
}

.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.social-links a {
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
}

svg {
	font-size: 1.2rem;
}

.social-links a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.social-links a:hover::before {
	opacity: 0.3;
}

.kpis {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}