.inputContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	width: 100%;
	height: 100%;
	position: relative;
}

form {
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #176B87;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	font-size: 1.2rem;
	outline: none;
	color: #176B87;
	background-color: var(--white-color);
}

.active {
	border-radius: 5px 5px 0 0;
}

input:focus {
	border: 1px solid #176B87;
}

input::placeholder {
	color: #176B87;
}

svg {
	position: absolute;
	right: 10px;
	top: 20%;
	cursor: pointer;
	font-size: 1.5rem;
	border-radius: 50%;
}