.kpis-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	border-radius: 5px;
	padding: 0.8rem 0.5rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	text-decoration: none;
	color: var(--primary-color);
}

@media (max-width: 500px) {
	.kpis-item {
		font-size: 14px;
	}
}