.suggest-list {
	position: relative;
	width: 100%;
}

.results {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	background-color: var(--quaternary-color);
	border: 1px solid #176B87;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.result-list {
	padding: 0.5rem 1rem;
	margin: 0;
	border-bottom: 1px solid #176B87;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	color: var(--white-color);

	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}

.result-list:hover {
	background-color: #176B87;
	color: #B4D4FF;
}