:root {
	--primary-color: #176B87;
	--secondary-color: #B4D4FF;
	--tertiary-color: #EEF5FF;
	--quaternary-color: #0F3D4C;
	--quinary-color: #F2F2F2;
	--senary-color: #F5F5F5;
	--white-color: #FFFFFF;
	--black-color: #000000;
	--success-color: #4CAF50;
	--warning-color: #FFC107;
	--danger-color: #F44336;
	--info-color: #2196F3;
	--light-color: #f8f9fa;
	--dark-color: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white-color);
}

.debug {
	border: 1px solid red;

	&>* {
		border: 1px solid green;

		&>* {
			border: 1px solid blue;
		}
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #176B87;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: #B4D4FF;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #0F3D4C;
}

::-webkit-scrollbar-thumb:active {
	background-color: #0F3D4C;
}